
@*
    _AdminTopStripViewComponentPartial
*@
<div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
    
    <div class="d-lg-flex align-items-center gap-2">
        
        <div class="d-flex align-items-center justify-content-center gap-2">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="~/admin/assets/images/logos/favicon.png" alt="" />
            </a>
        </div>
        <h3 class="text-white mb-2 mb-lg-0 fs-5 text-center">Admin Paneli</h3>
    </div>

</div>